// here we reset default values
body, ul, li, table, p, h1, h2, h3, pre {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
}
html {
  font-size: $base-font-size;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}
ul {
  list-style-type: None;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}
table {
  margin-bottom: 40px;
}
a {
  text-decoration: None;
}
a:hover {
  text-decoration: underline;
}
@include media-query($phone-breakpoint) {
  body {
    display: block;
  }
}
img {
  max-width: 100%;
  width: 500px;
  height: auto;
}
.post-meta {
  color: $color-post-text-meta;
  margin-bottom: 0px;
  font-size: $small-font-size;
}
.page-content {
  margin-top: 10px;
  margin-right: 40px;
  p, pre {
    margin-bottom: $text-margin-bottom;
  }
}
.post-header {
  margin-bottom: $text-margin-bottom;
  p {
    margin-bottom: 0px;
  }
}
.post-title {
  background-color: $color-post-bg-h1;
  font-size: $base-font-size;
  font-weight: normal;
  span {
    opacity: 70%;
  }
}
#post-link {
  color: $color-text-secondary;
  display: grid;
  grid-template-columns: 6ch auto;
  align-items: baseline;
  a {
    color: $color-accent-primary;
  }
  a:visited {
    color: $color-accent-primary;
  }
}
main {
  width: 100%;
  min-width: 0;
  overflow: hidden;
}
#post-content {
  font-size: $small-font-size;
  ul {
    list-style: inside;
    margin-bottom: 20px;
  }
  #markdown-toc {
    background-color: rgb(246, 246, 246);
    margin-bottom: $text-margin-bottom;
    a {
      color: $color-text-secondary;
    }
    list-style: None;
    ul {
      margin-bottom: 0;
      list-style: None;
      li {
        margin-left: 30px;
      }
    }
  }
  h2, h3 {
    font-weight: normal;
    font-size: $base-font-size;
  }
  h2 {
    background-color: $color-post-bg-h2;
  }
  h3 {
    background-color: $color-post-bg-h3;
  }
}
.language-plaintext {
  background-color: $color-background-code;
}
pre, .highlight {
  max-width: 100%;
  overflow-x: auto;
  white-space: pre;
}
#home-title {
  background-color: $color-home-bg-h1;
  color: $color-home-text-h1;
  font-size: $base-font-size;
  font-weight: normal;
  margin-bottom: $text-margin-bottom;
}
#sidebar {
  a, a:visited, a:active, a:hover {
    color: $color-sidebar-li;
  }
}
