// here we reset default values

body, ul, li, table, p, h1, h2, h3, pre, {
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  // background-color: $base-background-color;
}

body {
  display: flex;
}

ul {
  list-style-type: None;
}

a {
  // color: $base-accent-color;
  text-decoration: None;
}

a:hover {
 text-decoration: underline;
}

// TODO: verify this actually works
@include media-query($phone-breakpoint) {
  body {
    display: block;
  }
}

img {
  max-width: 1000px;
}

.page-content {
  p, pre {
    margin-bottom: $text-margin-bottom;
  }
}

.post-title {
  background-color: $color-post-title;
  font-weight: default;
  span {
    opacity: 70%;
  }

}

.post-meta {
  color: $color-post-meta;
  font-size: $small-font-size;
}


#post_link {
  color: $color-text-secondary;
  a { 
    color: $color-accent-primary;
  }
  a:visited {
    color: $color-visited-post;
  }
}

#sidebar {
  a, a:visited, a:active, a:hover {
    color: $color-sidebar-li;
  }
}
