<div id="header-wrapper">
	<img src="https://github.com/{{ site.github_username }}.png" alt="profile picture" id="profile-pic" />
	<div>

		<div id="header">
			<p id="title">{{ site.title }}</p>
		</div>
		<div id="links">
			<a href="https://github.com/{{ site.github_username }}">github</a>
			<span>·</span>
			<a href="mailto:{{ site.email }}">email</a>
		</div> <!-- <pre id="home-text"> -->
		<!-- 	hey, im theo, im 24 yo computationnal neuroscientist at the pasteur institute in paris. -->
		<!-- 	i love nixos and you should try it - check ancore ;) -->
		<!-- 	at some point in my life i will give a try to raylib but im stuck on configuring my nvim config -->
		<!-- 	daft punk fan btw</pre> -->
	</div>
</div>
