@charset "utf-8";

// Here you can define the different variables.

$base-font-family: system-ui !default;
$base-font-size:  26px !default;
$base-font-style: normal !default;
$small-font-size: $base-font-size * 0.875 !default;

$color-text-primary: #000000 !default;

$color-background-default: #ffffff !default;





$color-accent-primary: #ef950e;
$color-accent-secondary: #0000ee;

// Sass partials
@import 
  "yte/base";
